<html>
<head>
<title>Add | Online Calculator</title>
</head>

<body>
<h1>Add numbers</h1>

<div>
	<label for="name">Your name:</label>
	<input type = "text" id="name" placeholder = "Mario Brassesco">
	<label for="email">Your email:</label>
	<input type = "email" id="email" placeholder = "mario@gmail.com">
</div>

<div>

	<form action="/calculate_add" method="POST">

		<input type = "number" placeholder = "1st number">						+
		<input type = "number" placeholder = "2nd number">
		<button type="submit">Calculate</button>

	</form>


</div>


</body>


</html>