<html>

<head>
	<title>Online Calculator</title>
</head>

<body>
	<h1>Welcome to the awesome calculator!</h1>

	<div>

		<form action="/calculate_add" method="POST">

			<input type = "number" name = "first_number"placeholder = "1st number">										+
			<input type = "number" name = "second_number" placeholder = "2nd number">
			<button type="submit">Calculate</button>

		</form>


	</div>


	<div>

		<form action="/calculate_substraction" method="POST">
	
			<input type = "number" name = "first_number"placeholder = "1st number">										-
			<input type = "number" name = "second_number" placeholder = "2nd number">
			<button type="submit">Calculate</button>

		</form>


	</div>


	<div>

		<form action="/calculate_multiplication" method="POST">
	
			<input type = "number" name = "first_number"placeholder = "1st number">									x
			<input type = "number" name = "second_number" placeholder = "2nd number">
			<button type="submit">Calculate</button>

		</form>


	</div>


	<div>

		<form action="/calculate_division" method="POST">

			<input type = "number" name = "first_number"placeholder = "1st number">									/
			<input type = "number" name = "second_number" placeholder = "2nd number">
			<button type="submit">Calculate</button>

		</form>


	</div>
</body>


</html>